In [2]:
import os
import sys
from time import strftime, gmtime
import argparse
import numpy as np
import pandas as pd

In [13]:
def create_dataset(filename, train=True):
  # data import and select columns
  data = pd.read_csv(filename)
  if train:
    data = data.loc[:,['Survived','Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare' ,'Embarked']]
  else:
    data = data.loc[:,['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare' ,'Embarked']]

  # one-hot encoding and fill nan
  columns = ['Pclass', 'Sex', 'SibSp', 'Parch', 'Embarked']
  data = pd.get_dummies(data, columns=columns, dummy_na=True)
  data.Age = data.Age.fillna(data.Age.mean())

  # export DataFrame as csv format file
  execute_time = strftime("%Y%m%d_%H%M%S", gmtime())
  filepath = os.path.join('../data', execute_time)

  if not os.path.exists(filepath):
      os.mkdir(os.path.join('../data', execute_time))

  if train:
    csv_filename = os.path.join(filepath, 'train.csv')
  else:
    csv_filename = os.path.join(filepath, 'test.csv')
  data.to_csv(csv_filename, index=None)

In [14]:
filename = '../data/org/train.csv'
create_dataset(filename)

In [15]:
filename = '../data/org/test.csv'
create_dataset(filename, train=False)

In [8]:
data = pd.read_csv('../data/org/test.csv')
data = data.loc[:,['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare' ,'Embarked']]
data.head()

   Pclass     Sex    ...        Fare  Embarked
0       3    male    ...      7.8292         Q
1       3  female    ...      7.0000         S
2       2    male    ...      9.6875         Q
3       3    male    ...      8.6625         S
4       3  female    ...     12.2875         S

[5 rows x 7 columns]

In [12]:
data_tr = pd.read_csv('../data/org/train.csv')
data_tr = data_tr.loc[:,['Survived','Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare' ,'Embarked']]
data_tr.head()

   Survived  Pclass    ...        Fare  Embarked
0         0       3    ...      7.2500         S
1         1       1    ...     71.2833         C
2         1       3    ...      7.9250         S
3         1       1    ...     53.1000         S
4         0       3    ...      8.0500         S

[5 rows x 8 columns]